@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  border: 0;
  /* box-sizing -  завжди має мати значення border-box */
  /* box-sizing - box - коробка ;size -розмір - корегуе поведінку елементів на сторінці та контролює те як вимірюється відступи внутрішні та розміри елемента */
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.flex {
  display: flex;
  justify-content: center;
}

.container {
  width: 1600px;
  margin: 0 auto;
}

.list {
  display: grid;
  grid-template-columns: repeat(6, 200px);
  grid-template-rows: repeat(1, 200px);
  -moz-column-gap: 30px;
       column-gap: 30px;
}
@media screen and (max-width: 1199px) {
  .list {
    grid-template-columns: repeat(3, 226px);
    grid-template-rows: repeat(2, 92px);
    row-gap: 30px;
  }
}
@media screen and (max-width: 767px) {
  .list {
    grid-template-columns: repeat(2, 210px);
    grid-template-rows: repeat(3, 92px);
  }
}

.list-item {
  background-color: blue;
}

.list-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .list-link {
    font-size: 30px;
    line-height: 40px;
  }
}