/* cпецифічність */

ul,
ol {
  list-style: none;
}

.p {
  color: blue;
}

.container > .pp {
  color: red;
  font-size: 30px;
}

.pp {
  color: green;
  font-size: 20px;
}

#text {
  color: brown;
}

.ppp {
  color: green;
}
p {
  color: yellow;
}

#text {
  color: aqua;
}

/* # > . > p,p,p > p  - розшифрувати*/

/* ПСЕВДОКЛАСИ */

/* ПСЕВДОКЛАСИ СТАНУ */

/* hover = Наведення (компʼютери) */
#text:hover,
#text:active {
  color: chocolate;
}
/* active - натискання (більш для телефонів) */
.pp:active {
  color: magenta;
}
/* focus =  обрати інтерактивний елемент */
.button:focus {
  color: lime;
}
input:focus {
  outline: red 1px solid;
}

/* Псевдокласи структурні */
/* odd = не кратні, even = кратні */
.list-item:nth-child(even) {
  background-color: rgb(208, 208, 42);
}
.list-item:nth-child(odd) {
  background-color: rgb(0, 82, 247);
}
/* .list-item:nth-child(-n + 1) {
  background-color: aqua;
} */

.list-item:nth-child(1n + 3) {
  background-color: aqua;
}

/* Якого кольору буде .text? */

/* :nth-child(n+7)
Represents the seventh and all following elements: 7 [=0+7], 8 [=1+7], 9 [=2+7], etc.

:nth-child(3n+4)
Represents elements 4 [=(3×0)+4], 7 [=(3×1)+4], 10 [=(3×2)+4], 13 [=(3×3)+4], etc.

:nth-child(-n+3)
Represents the first three elements. [=-0+3, -1+3, -2+3] */

/* * = усі теги на сторінці */
* {
}

p {
  color: red;
}

#od .clas p > span {
}

.p {
  color: yellowgreen;
}
