* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.backdrop {
  position: fixed;

  background-color: rgba(0, 0, 0, 0.8);

  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.modal {
  width: 500px;
  height: 500px;
  background-color: #ffffff;

  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.backdrop.is-hidden {
  opacity: 0;
  /* pointer-events - властивість яка блокує всі івенти мишки на данному елементі */
  pointer-events: none;
}

.no-scroll {
  /* overflow - переповнення -  */
  overflow: hidden;
}
