/* reset.css = скинути стилі браузера щоб він нам не заважав(прибирає зайві маркування, підкреслення, відступи) */

/* * =  усі теги на сторінці */
/* Box-sizing рекомендоване значення = border-box */
* {
  /*  зовнішній відступ  */
  margin: 0;
  /* внутрішній відступ */
  padding: 0;
  /* Кордон елементу */
  border: 0;
  /* поведінка браузера при рахуванні ширини та висоти елементу АБСОЛЮТНО ЗАВЖДИ МАЄ МІСТИТИ ОДНЕ РЕКОМЕНДОВАНЕ ЗНАЧЕННЯ border-box (За замовчуванням стоїть content-box)*/
  box-sizing: border-box;
}

a {
  /* прибирання підкреслення */
  text-decoration: none;
}

ul,
ol {
  /* прибирання поміток перед списками */
  list-style: none;
}

img {
  /* файні картинки */
  max-width: 100%;
  height: auto;
  display: block;
}

body {
  scroll-behavior: smooth;
}

.container {
  display: flex;
  /* flex-wrap - за перенос елементів */
  /* flex-direction- за напрямок елементів */

  justify-content: center;
  /* gap 8px  це відступ з усіх сторін 8px*/
  gap: 10px;

  max-width: 1000px;
}

.sidebar {
  /*flex-basis - визначає початковий розмір елемента перед розподілом вільного простору  */
  /* flex-basis замінює width всередені флекс елементу */
  flex-basis: 200px;
  width: 1000px;
}

.main-content {
  /* Розширив наш дівчик на всю площу яка залишилась */
  /* width: 1200px; */
  flex-grow: 1;
}

.sidebar,
.main-content {
  height: 300px;
  padding: 50px;
  border-radius: 10px;
  background-color: tomato;
}

.box {
  display: flex;
}
.card {
  display: flex;

  flex-direction: column;
  flex-basis: 270px;

  margin: 10px;
  padding: 10px;
  border-radius: 15px;
  background-color: tomato;
}

.content {
  border: 5px dashed green;
  /* забирає весь вільний простір який є до наступного елементу */
  flex-grow: 1;
}
