* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.red {
  width: 200px;
  height: 200px;
  background-color: red;
  /* Значення за замовчуванням */
  /* Стоїть position static  ви не можете рухати його за допомгою властивостей top left right bottom */
  /* absolute -основний  - видаляє елемент з потоку сторінки та дозволія перенести його туди куди вам зручно*/
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* top: 1000px;
  left: 100px; */
}

/* відпрацювала комбінація relative + absolute */
/* Усі вкладені елементи то незалежно від того який в них позішн цей елемент буде відраховувати всі значення відносно батківського  */
.green {
  width: 200px;
  height: 200px;
  background-color: green;
  /* Основний - він елемент не видаляє з основного потоку сторінки(місце на сайті за елементом залишається але він може в будь-який піти по своїм справам за допомогою властивостей top right left bottom ) */
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.yellow {
  /* vh - viewport height */
  width: 100vh;
  /* vw - viewport wight */
  height: 100vw;
  background-color: yellow;
  /* z-index: 10; */
  /* position: static; */
}

.orange {
  width: 200px;
  height: 200px;

  /* z-index - властивість яка дозволяє нам приховувати або виявляти предмети на ось z(індекс глибини)  якщо даєте - значення більше то ваш елемент буде проявлено або значення менше за інші елементи то ваш елемент буде приховано*/
  z-index: 20;

  position: fixed;
  /* центрування на екрані */
  top: 50%;
  left: 50%;
  background-color: orange;

  /* transform - властивість яка дозволяє трансформувати ваш елемент або переміщувати його в просторі */
  transform: translate(-50%, -50%);
}

body {
  /* height: 10000px; */
}

.alfa {
  width: 100px;
  height: 100px;
  background-color: brown;
  position: absolute;
  top: 20px;
  left: 50px;
  z-index: 11;
}

.betta {
  width: 100px;
  height: 100px;
  background-color: blueviolet;
  position: absolute;
  top: 50px;
  left: 100px;
  z-index: 10;
}

.gamma {
  width: 100px;
  height: 100px;
  background-color: blue;
  position: absolute;
  top: 70px;
  left: 150px;
}

.container {
  width: 400px;
  height: 400px;
  /* Всі дитячі елементи позиціонуються відносно батьківських в тому випадку якщо у батьківького леементу будь який позішн окремий від статік */
  position: relative;
}
/* Поява */
.container:hover .list {
  /* z-index: 2; */
  padding: 27px 107px;
  opacity: 1;
  pointer-events: all;

  background-color: rgba(0, 0, 0, 0.5);
}

.img {
  /*  */
  width: 100%;
  height: auto;
  display: block;
}

.list {
  position: absolute;

  /* z-index: -1; */

  /* opacity - прозорість */
  opacity: 0;
  /* Блокує всі можливі івенти мишки */
  pointer-events: none;

  /* Щоб центрувати спозиціонований елемент нат треба дві властивості   top: 50%;
  left: 50%;  transform: translate(-50%, -50%);*/

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-evenly;
}

.icon {
  font-size: 40px;
  color: red;
}

.list-item:not(:last-child) {
  margin-right: 30px;
}

/* overflow - переповнення */

.p {
  width: 200px;
  height: 200px;
  /* overflow за замовчуванням visible */
  overflow: hidden;
}
