* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

.div {
  width: 200px;
  height: 200px;
  background-color: green;
  /* transform - якщо ви хочете провести якусь трансформацію, якусь дію над елемпентом ви маєте почати з трансформу */
  /* Дуже багато може бути комбінацій але,що найкращий варіант зазвичай найпростіший */
  /* ПОЧАТКОВІ ЗНАЧЕННЯ, ЗНАЧЕННЯ ЗА ЗАМОВЧУВАННЯМ */
  /* transform: rotate(0deg) translateY(0%) skew(0deg, 0deg) scale(1); */

  /* основна властивість БЕЗ ЯКОЇ CSS перехід НЕМОЖЛИВИЙ */
  /* transition-property: transform; */

  /* transition-duration: - тривалість анімації (вказується в ms або в s) Обовʼязкова*/
  /* transition-duration: 350ms; */
  /* transition-timing-function: linear; */

  /*120deg - deg = градуси  
  rotate - перегортання елементу
  */
  /* rotate: 360deg;
  scale: ; */
}

.div:hover {
  /* rotate - дозволяє крутити елементи навколо своєї осі */
  /* scale -  дозволяє нам збільшувати та зменшувати елементи (значення за замовчуванням 1)
  за допомогою значення 0, приховує елементи
  дозволяє збільшити елемент в стільки разів у скільки ви вкажете в дужках
  */

  /*друге число регулює висоту на яку має зміститись елемент  */
  /*друге число регулює ширину на яку має зміститись елемент  */
  /* % - відносні величини які в данному випадку вираховуються залежно від розміру анімованого елементу */

  /* skew - він дозволяє нам деформувати кути, збільшувати та зменшувати сторони елементу за бажанням */
  transform: skew(35deg, 20deg);

  transition-property: transform;

  /* transition-duration: - тривалість анімації (вказується в ms або в s) Обовʼязкова*/
  transition-duration: 350ms;
  transition-timing-function: linear;
}
