// Плейсхолдери -шаблони в які ми записуємо код який повторюється

%button {
  //   міксини використовуються за допомогою @include

  @include buttonSize(500px, 200px);
  border: 1px solid black;
  outline: 1px solid yellow;
  font-size: 32px;
  background-color: red;
}

%flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
