.adventure {
  padding: 60px 0; // зверху та знизу відступи внутрішні по 60px зліва справа 0
  background-color: $section-color;
  @media screen and (min-width: 1200px) {
    padding: 91px 0 109px 0;
  }
}

.adventure-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap; // Дозволяє перенос елементів

    align-items: center;
    justify-content: center;
  }
  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}

.adventure-item {
  @media screen and (min-width: 768px) {
    width: 354px;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}

.adventure-item::before {
  content: '';

  display: block;

  width: 450px;
  height: 120px;

  margin-bottom: 30px;

  //   background-image: url(../../img/antennaa.svg);
  //  background-position: center;
  // background-size:contain;
  // background-repeat: no-repeat;
  background: url(../../img/antennaa.svg) center / 65px 70px no-repeat;
  background-color: $before-background;
  @media screen and (min-width: 768px) {
    width: 350px;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}

.antena::before {
  background-image: url(../../img/antennaa.svg);
}

.clock::before {
  background-image: url(../../img/clockk.svg);
}

.diagram::before {
  background-image: url(../../img/diagramm.svg);
}

.astronaut::before {
  background-image: url(../../img/astronautt.svg);
}

.adventure-item:nth-child(3) {
  @media screen and (min-width: 768px) {
    margin-bottom: 0px;
  }
}
// odd
// even

.adventure-item:nth-child(odd) {
  @media screen and (min-width: 768px) {
    margin-right: 30px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 0px;
  }
}

.adventure-item:not(:last-child) {
  margin-bottom: 30px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 0px;
    margin-right: 30px;
  }
}

.adventure-item:nth-child(3) {
  @media screen and (min-width: 768px) {
    margin-bottom: 0px;
  }
}

.adventure-heading {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: $adventure-heading;

  margin-bottom: 10px;
}

.adventure-describe {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  letter-spacing: 0.03em;

  color: $adventure-description;
}
