.header {
  padding-top: 18px;
  padding-bottom: 80px;
  /* background-color: green; */
}

.header-logo {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;

  color: #95e1d3;

  margin-right: 630px;
}

.header-nav {
  display: flex;
  justify-content: center;
}

.nav-list {
  display: flex;
  justify-content: center;
}

.nav-item:not(:first-child) {
  margin-left: 55px;
}

.nav-link {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  color: #95e1d3;
}

.nav-link:hover {
  color: #f38181;
}
