.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  /* background-color: var(--hero-bg); */
}

.hero-bcg {
  max-width: 1600px;
  max-height: 600px;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(rgba(25, 28, 38, 0.5), rgba(25, 28, 38, 0.5)),
    url(../images/hero-bcg/hero.jpg);
  background-position: center;
  background-size: contain;
}

.hero-title {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  max-width: 700px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-bg);
}

.hero-button {
  min-width: 200px;
  min-height: 50px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: var(--accent);
  color: var(--main-bg);
}

.hero-button-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: var(--main-bg);
}

/* main styles */

.section-title {
  margin: 0;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text);
}
