.list {
  // Desktop
  display: grid;
  grid-template-columns: repeat(6, 200px);
  grid-template-rows: repeat(1, 200px);
  column-gap: 30px;
  //   TABLET
  @media screen and (max-width: 1199px) {
    grid-template-columns: repeat(3, 226px);
    grid-template-rows: repeat(2, 92px);
    row-gap: 30px;
  }
  //   PHONE
  @media screen and (max-width: 767px) {
    grid-template-columns: repeat(2, 210px);
    grid-template-rows: repeat(3, 92px);
  }
}

// @media screen and (min-width: 768px) {
//   .blue {
//     width: 80vw;
//   }
// }

.list-item {
  //   width: 200px;
  //   height: 200px;
  background-color: blue;
}

.list-link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;

  //   @media screen and (min-width: 768px) {
  //   }
  @media screen and (min-width: 1200px) {
    font-size: 30px;
    line-height: 40px;
  }
}
