.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.sections {
  padding: 94px 0px;
}

.flex-box {
  display: flex;
}

.page-header {
  border-bottom: 1px solid var(--header-borderline);
}
