* {
  margin: 0;
  padding: 0;
  border: 0;
  /* box-sizing -  завжди має мати значення border-box */
  /* box-sizing - box - коробка ;size -розмір - корегуе поведінку елементів на сторінці та контролює те як вимірюється відступи внутрішні та розміри елемента */
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
