// Змінна - диск D - це сховище для інформації

// Як створити змінну в SCSS?
//1)  написати значок долара($)
//2) Написати назву змінної(змістовну) щоб блуо зрозуміло яка інформація в ній знаходиться
//3)Маємо з вами покласти дані у цю змінну

$main-text-color: blueviolet;

$game1: 'Spider-man';
$game2: 'Brawl Stars';
